.logincard{
    background-color: #F2F2F2;
    width: 38%;
    border-radius: 25px;
    height: 476px;
}

.forgetlink{
    color: #383838;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    bottom: 0px;
    transition-duration: 0.5s;
    text-align: center;
}

.forgetlink:hover{
    color: #066163;
    bottom: 2px;
}


.logincardheader{
    background: url("../../../public/icons/Loginheaderbackground.png");
    background-repeat: no-repeat;
    background-position: 0%;
    background-size: cover;
    padding: 19px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color: white;
}

.logincardbody{
    padding: 47px;
    padding-top: 0px;
}

#exampleInputEmail1{
    background-color: transparent;
    border: 1px solid black;
    box-shadow: none;
    border-radius: 6px
}

#exampleInputPassword1{
    background-color: transparent;
    border: 1px solid black;
    box-shadow: none;
    border-radius: 6px
}

.mainbodylogin{
    padding: 104px;
    height: 676px;
    background-image: url("../../../public/icons/dashboardbackground.jpg");
    background-size: cover;
}
