.websitebuilderheader{
    height: 26px;
    text-align: center;
    color: white;
    background-color: #066163 ;
}
#menu{
    margin-top: 20%;
}
#menu li{
    margin-top: 10%;
}


.menueitem {
    color: white !important;
}
.menueicon{
    color: white !important;
}
.menueicon:hover{
    color: #E1DFBA !important;
}



.menueitem:hover {
    color: #E1DFBA !important;
   
}

.devider{
    height: 1px ;
    width: 100%;
    background-color: white;
    
}
.devider2{
    height: 0.3px ;
    width: 166px;
    background-color: white;
    
}

.menuinfo{
    color: #cfcfcf !important;
}
.menuinfo:hover{
    color: #cfcfcf !important;
}

.sidebarfooter{
    color: #cfcfcf !important;
    font-size: 15px;
}



