.sidebararea{
    padding: 0px !important;
}

.moduleheading{
    background: #066163;
    margin: 0px !important;
    padding: 10px;
    width: 100%;
    top: 74px;
    height: 110px;
}

.headingicon{
    height: 52px;
    padding-bottom: 15px;
    margin-right: 16px;
    margin-left: 6px;
}
 #menu{
    margin-left: 3%;
    width: 92%;
 }
 
#menu li {
    margin-top: 10%;
    margin-left: 5%;
}