#basicinfocardicon{
 
    padding: 6px;
    border-radius: 22px;
    background-color: #383838;
    color: white;
    padding-left: 11px;
    padding-right: 11px;


}

.Basiccardbanner{
    background-color: #066163;
    text-align: center;
    color: white;
    padding: 14px;
}