.sliderbody{
    height: 551px;
    margin-top: 6px;
    padding-top: 118px;
    background: url("../../../../../public/icons/aboutsliderbackhround.png");
    background-attachment: fixed;
    background-size: cover;

}

#aboutslidersocialicons:hover{
    
    color: #f5f1b2 !important;
}