.toolbar{
    
  
    justify-content: space-between;
    background-color: #066163;
    padding: 15px;
    border-radius: 15px;
    color: white;

}

.toolbar .input-group {
    width: 35%;
}

#exampleModal{
    z-index: 250;
}