.projectright h5{
    font-weight: 800;
    font-size: 25px;
}
.imagebody{
    border-radius: 15px;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 5%, #784BA0 50%, #0e68a8 100%);
    
    height: 350px;
    width: 350px;
}

.projectright{
    padding-top: 7%;
}

.projectsection{
    height: 477px;
}
