.Skillbackground{
    background-color: #faebd7;
    height: 600px;
    padding-top: 7%;
   
}

.skillheading{
    font-weight: 800;
}

#Reactprogress{
    width: 55%;
    background-color: skyblue;
    animation: reacticonanimation 1000ms ease-in-out;
}


#Nodeprogress{
    width: 35%;
    background-color: green;
    animation: Nodeprogressanimation 1000ms ease-in-out;
}

#Mongoprogress{
    width: 50%;
    background-color: rgb(24, 165, 24);
    animation: Mongoprogressanimation 1000ms ease-in-out;
}
#SQLprogress{
    width: 45%;
    background-color: rgb(255, 71, 71);
    animation: SQLprogressnanimation 1000ms ease-in-out;
}

#htmlprogress{
    width: 80%;
    background-color: rgb(244, 72, 52);
    animation: htmlprogressnanimation 1000ms ease-in-out;
}
#cssprogress{
    width: 60%;
    background-color: rgb(10, 108, 246);
    animation: cssprogressanimation 1000ms ease-in-out;
}

#javascriptprogress{
    width: 70%;
    background-color: rgb(237, 193, 0);
    animation: javascriptprogressanimation 1000ms ease-in-out;
}

#cprogress{
    width: 40%;
    background-color: purple;
    animation: cprogressanimation 1000ms ease-in-out;
}

//Keyframes for animation

@keyframes reacticonanimation {
    from { width: 0%}
    to { width: 55%}
}
@keyframes cssprogressanimation {
    from { width: 0%}
    to { width: 60%}
}

@keyframes Nodeprogressanimation {
    from { width: 0%}
    to { width: 35%}
}

@keyframes Mongoprogressanimation {
    from { width: 0%}
    to { width: 50%}
}

@keyframes SQLprogressnanimation {
    from { width: 0%}
    to { width: 45%}
}

@keyframes htmlprogressnanimation {
    from { width: 0%}
    to { width: 80%}
}

@keyframes javascriptprogressanimation {
    from { width: 0%}
    to { width: 70%}
}

@keyframes Mongoprogressanimation {
    from { width: 0%}
    to { width: 50%}
}
@keyframes cprogressanimation {
    from { width: 0%}
    to { width: 40%}
}
