.slider{
    background: url("../../../../../public/icons/contactusbackground.png");
    background-attachment: fixed;
    background-size: cover;
    height: 400px;
    margin-top: 54px;
    padding-top: 7%;
    
}
.slider h2{
    color: white;
}

.slider a{
    color: white;
    border: 2px solid white;
    border-radius: 50px;
   
}
.slider button:hover{
    transition-duration: 0.3s;
    color: #F2F2F2;
    background-color: #066163;
    border: 2px solid #066163;
    border-radius: 50px;
   
}