.contactdivider{
    width: 80%;
    height: 0.1%;
    background-color: rgba(0, 0, 0, 0.521);
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
}
.contactright{
    background-color: aliceblue;
    height: 620px;
}
