#testimonialbuttons i{
    color: black;
    font-size: 20px;
   
}
.tstimg{
    height: 80px;
}
.Testimonial{
    padding-top: 4%;
    height: 465px;
   
}
.divider{
    width: 10%;
    height: 0.5%;
    background-color: black;
    margin-top: 7px;
    margin-bottom: 15px;
}
.carousel-inner i{
    color: gold;
}
.carousel-inner h3{
    color: #066163;
}

@media only screen and (max-width: 600px) {
    .Testimonial{
        padding-top: 10%;
        height: 465px;
       
    }
   }